@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

html {
    height: 100%;
}

header nav {
    display: none;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

p {
    margin-bottom: 10px;
    margin-top: 20px;
    font-size: 1.8em;
}

h1 {
    font-size: 2em;
}

span {
    color: #5E0C00;
}


body {
    text-align: center;
}

article {
    width: 384px;
    border-style: solid;
    border-radius: 0.5em;
    border-width: 0.7em;
    border-color: #231F44;
    display: flex;

    justify-content: center;
    flex-direction: column;
    align-items: center;

}

article>img {
    padding-left: 57.5px;
    padding-right: 57.5px;
    border-style: solid;
    border-radius: 100%;
    border-width: 0.7em;
    border-color: #231F44;
    background-color: #FFF9EF;
    width: 230px;
}

ul {
    padding: 0px;
    display: flex;
    justify-content: space-between;
    width: 280px;

}

li {
    list-style-type: none;
    padding: none;

}

li img {
    width: 50px;
    border-style: solid;
    border-radius: 15px;
    border-width: 5px;
    border-color: black;
}
footer{
    display: flex;
    justify-content: center;
}

li a:hover{
    color:#5E0C00;
}

li img:hover{
    border-color:#5E0C00;
}

@media only screen and (min-width: 650px) {
    header nav {
        display:contents;

    }

    nav a{
        text-decoration: none;
        color: black;
        font-size: 1.5em;
        font-weight: 400;
    }

    header{
        display: flex;
        width: 720px;
        justify-content: space-between;
        align-items: center;
    }

    article{
        width:770px;
        flex-wrap: wrap;

 
        flex-direction: row;
        align-items: flex-start;

        justify-content: space-around;
    }

    #footext{
        height: 380px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    footer nav{
        /*
        position: relative;
        left: 230px;
        bottom: 80px;
        */
    }
}
